.popup__save-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin: 18px auto 0px;
  min-height: 51px;
}

.popup__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 1s ease;
}

.popup__save-button_inactiv {
  border: 1px solid #000000;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color: #000;
  opacity: 0.2;
}

.popup__save-button_inactiv:hover {
  opacity: 0.2;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .popup__save-button {
    min-height: 40px;
    font-size: 14px;
    line-height: 1.21;
    border-radius: 2px;
  }
}
