.popup__form-item_error {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.21;
  color: red;
  position: absolute;
  left: 0;
  top: -20px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 450px) {
  .popup__form-item_error {
    font-size: 8px;
    line-height: 1.25;
    top: 0;
  }
}
