@import url(../header/__logo/header__logo.css);

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.6);
}

@media screen and (min-width: 425px) {
  .header {
    max-width: 582px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }
}

@media screen and (min-width: 1020px) {
  .header {
    width: calc(100% - 199px * 2);
    min-width: 882px;
  }
}
