@import url(../popup/__title/popup__title.css);
@import url(../popup/__form-container/popup__form-container.css);
@import url(../popup/__close-button/popup__close-button.css);
@import url(../popup/__form-item/popup__form-item.css);
@import url(../popup/__form-element/popup__form-element.css);
@import url(../popup/__form-item-field/popup__form-item-field.css);
@import url(../popup/__form-item-field/_error/popup__form-item-field_error.css);
@import url(../popup/__form-item/_error/popup__form-item_error.css);
@import url(../popup/__save-button/popup__save-button.css);
@import url(../popup/__image-open/popup__image-container.css);
@import url(../popup/__image/popup__image.css);
@import url(../popup/__image-caption/popup__image-caption.css);
@import url(../popup/__preview/popup__preview.css);
@import url(../popup/__delete-button/popup__delete-button.css);

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;
  margin: auto;
  visibility: collapse;
  opacity: 0;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}

.popup.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  height: auto;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}
